<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>All Listings</h1>
    <br>
    <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form>
    
    <% for(let list of allListings){ %>
        <ul>
            <li>
                <a href ="listings/<%= list._id %>"><%= list.title %></a>
            </li>
        </ul>
    <% } %>
</body>
</html>