<%- layout("layouts/boilerplate") -%>
<body>
    <h1>All Listings</h1>
    <br>
    <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form>
    
    <% for(let list of allListings){ %>
        <ul>
            <li>
                <a href ="listings/<%= list._id %>"><%= list.title %></a>
            </li>
        </ul>
    <% } %>
</body>
